BODY { BACKGROUND-COLOR:GRAY;}
H1{TEXT-ALIGN:RIGHT; 
    COLOR: BLUE;}

H2{TEXT-ALIGN:LEFT; 
    COLOR: YELLOW;}

H3{TEXT-ALIGN:CENTER;
    COLOR: WHITE;}

H4{TEXT-ALIGN:JUSTIFY; 
    COLOR: BLACK;
    BACKGROUND-COLOR: YELLOW;}

H5{TEXT-ALIGN:JUSTIFY; 
        COLOR: PURPLE;
        BACKGROUND-COLOR: WHITE;}

